// FONT IMPORTS

@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//UNIVERSAL
html {
  height:175%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
  
}
.HomePage, .BrowsePage, .AboutPage, .SuccessPage {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: -9;
}
.home-logo {
  h1 {
  font-family: 'Fascinate Inline', cursive;
  margin: 5vh;
  color: whitesmoke;
  }
  a:link {
    text-decoration: none;
  }
}
h2 {
  font-family: 'Fascinate', cursive;
  }
h4 {
    line-height: 0;
}
p {
  font-family: 'Roboto', sans-serif;
}

//BACKGROUND
.bg {
  animation:slide 5s ease-in-out infinite alternate;
  background-image: linear-gradient(-70deg, rgb(202, 65, 30) 50%, rgb(202, 70, 30) 50%);
  bottom:0;
  left: -50%;
  opacity:.5;
  position:fixed;
  right: -50%;
  top:0;
  z-index:-1;
}
.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:10s;
}
.bg3 {
  animation-duration:7s;
}
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

//CARDS
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  align-self: center;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 100%;
  flex: 1;
  padding: 50px;
}
.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  width: 40vw;
}
.content {
  display: flex;
  flex-direction: column;
  background-color:rgb(255,255,255);
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  border-radius: .5em;
  left:50%;
  padding:5vmin;
  position:relative;
  text-align:left;
  width: 20vw;
  height: 60vh;
  top:50%;
  transform:translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  z-index: 1;
  .register {
    padding: 5px;
    justify-content: left;
  }
  #org-img {
    width: 15vw;
  }
  #icon {
    width: 200px;
    padding-bottom: 20px;
 }
}
//BUTTONS
.button {
	pointer-events: auto;
	cursor: pointer;
	background: white;
	border: none;
	padding: 1rem 1.5rem;
  margin-top: 30px;
	font-family: inherit;
	font-size: 20px;
	position: relative;
	align-self: flex-start;
}
.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.button--anthe {
	font-family: 'Fascinate', cursive;
	color: #fff;
	background: none;
}
.button--anthe::before {
	content: '';
	background: #000;
	-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
	transition: clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1), -webkit-clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1);
}
.button--anthe:hover::before {
	background: #000;
	-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.button--anthe span {
	display: block;
	mix-blend-mode: difference;
	transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
}
.button--anthe:hover span {
	transform: translate3d(-10px,0,0);
}